.posts {
  padding: 10px;
  border-bottom: 1px solid rgba(27, 60, 73, 0.775);
  margin-bottom: 10px;
}

.postsWrapper {
  display: flex;
}

.postsContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postsUserDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postsUserFullname {
  font-size: 17px;
  font-weight: 500;
}

.postsUserUsername {
  margin-left: 5px;
  font-size: 15px;
  opacity: 0.6;
}

.postsUserDetailsSeperator {
  margin-left: 7px;
  opacity: 0.6;
}

.postsTime {
  margin-left: 7px;
  opacity: 0.6;
}

.postsMoreOptions {
  order: 1;
  opacity: 0.6;
  padding: 3px;
  cursor: pointer;
}

.postsMoreOptions:hover {
  border-radius: 30px;
  background-color: rgba(231, 233, 234, 0.206);
}

.postsContent {
  font-size: 16px;
}

.postsBottomActions {
  width: 100%;
  opacity: 0.7;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.postsBottomSection {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.postsBottomSection:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.postsCount {
  font-size: 15px;
  padding: 3px 0 0 0;
  margin-top: -10px;
}

.postsBottomSectionIcon {
  padding: 2px;
}
