.exploreSearch {
    display: flex;
    background-color: grey;
    margin: 10px;
    border-radius: 30px;
    padding: 5px;
}

.exploreSearchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 20px;
}

.exploreSearchIcon:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.exploreSearchBox {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 20px;
    padding: 0 15px;
    color: white;
}

.exploreSearchBox::placeholder {
    color: white;
    opacity: 0.6;
}

.idle {
    width: 100%;
    text-align: center;
    margin-top: 30%;
}

.idleText{
    margin-top: 10px;
    font-size: 1.4rem;
}

.nodata{
    text-align: center;
    margin-top: 40px;
}